{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- the dot at the end of the {{template "title" .}} action represents any dynamic data that you want to pass to the invoked template -->
    <title>{{template "title" .}} - Snippetbox</title>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetbox</a></h1>

      <!-- "block" acts like "template" but you can optionally have some default content that gets overwritten -->
      {{ block "header" .}} {{end}}
    </header>

    <!-- invote the nav template -->
    {{template "nav" .}}

    <main>
      {{ with .FlashMessage }}
        <div class="flash">{{.}}</div>
      {{end}}

      {{template "main" .}}
    </main>

    <footer>Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}</footer>

    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
