{{define "title"}}Signup{{end}} {{define "main"}}
<form action="/user/signup" method="POST" novalidate>
  <div>
    <label>Name:</label>
    {{with .PageData.FormErrors.name}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="name" required value="{{.PageData.Name}}" />
  </div>
  <div>
    <label>Email:</label>
    {{with .PageData.FormErrors.email}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="email" name="email" required value="{{.PageData.Email}}" />
  </div>
  <div>
    <label>Password:</label>
    {{with .PageData.FormErrors.password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" required name="password" />
  </div>
  <div>
    <input type="submit" value="Signup" />
  </div>
</form>
{{end}}
